@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @Configuration["Application:Name"]</h1>
</div>

@if (!User.Identity.IsAuthenticated)
{
    @await Html.PartialAsync("/Views/Shared/_SecurityWarningPartial.cshtml")
} 
else
{
    <text>
    auth users content
    </text>
}
