<div class="security-warning text-center">

    <h2>W A R N I N G !</h2>

    <h3>This is a restricted network.</h3>

    <p>Use of this network, its equipment, and resources is monitored at all times and requires explicit permission from the network administrator.</p>
    <p>If you do not have this permission in writing, you are violating the regulations of this network and can and will be prosecuted to the full extent of the law.</p>
    <p>By continuing into this system, you are acknowledging that you are aware of and agree to these terms.</p>

    <div>
        <a asp-controller="Login" asp-action="Index" class="btn btn-primary">Login </a>
    </div>
</div>
