@model RoleDetailsViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // Awfulness
    // If we use nested forms, we need to specify: <label asp-for="AddRoleForm.Username" class="form-label">Username</label>
    // And if we something like this and then refer to it like so: <label asp-for="@myForm.Username" class="form-label">Username</label>
    //AddRoleFormModel myForm = new AddRoleFormModel(this.Model.RoleName);
    // it will still generate a awful name: "myForm_Username"
    // 
}


<h1>Members who are @Role.SYSTEM_ADMINISTRATOR</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>some username</td>
      <td>some firstname</td>
      <td>some lastname</td>
      <td>remove</td>
    </tr>
    
    <tr>
      <th scope="row">2</th>
      <td>some username</td>
      <td>some firstname</td>
      <td>some lastname</td>
      <td>remove</td>
    </tr>
    </tr>
    
  </tbody>
</table>

<hr />

@await Html.PartialAsync("_AddRoleFormPartial.cshtml", Model.AddRoleForm)